extends ../layout

block content
	include ../partials/_header

	section#page-vehiclesoverview
		.container
			h1 Vehicles
			ol.breadcrumb
				li.breadcrumb-item
					a(href="/vehicles/overview") Vehicles Overview
				li.breadcrumb-item
					a(href="/vehicles") Vehicles &amp; Types
				li.breadcrumb-item.active Edit Vehicle
			.row
				.col-sm-6
					ul.list.form.half_width
						li
							label Vehicle Number
							input(type="text" id="q_number", value=`${vehicle.vehicle_number}`)
						li
							label Year
							select#q_year
								each year in years
									if year == vehicle.year
										option(value=`${year}`, selected) #{year}
									else
										option(value=`${year}`) #{year}
						li
							label Color
							input(type="text", value=`${vehicle.color}`)#q_color
						li
							label Type
							select#q_type
								each type in types
									if type._id.equals(vehicle.type._id)
										option(value=`${type._id}`, selected) #{type.name}
									else
										option(value=`${type._id}`) #{type.name}
						li
							label.break VIN
							input(type="text", value=`${vehicle.vin}`)#q_vin
						li
							label.break REGO
							input(type="text", value=`${vehicle.rego}`)#q_rego
						li
							label.break REGO Expiry
							input(type="text", data-provide="datepicker", value=`${rego_expiry}`)#q_rego_expiry
				.col-sm-6
					h3 Other Details
					ul.list.form.half_width
						li
							label.break COI Expiry
							input(type="text", data-provide="datepicker", value=`${coi_expiry}`)#q_coi_expiry
						li
							label.break DOT Booking
							input(type="text", data-provide="datepicker", value=`${dot_booking}`)#q_dotbooking
						li
							label.break Odometer
							input(type="number", min="0", value=`${vehicle.odometer}`)#q_odometer
						li
							label.switch
								if vehicle.status
									input(type="checkbox" checked)#q_status
								else
									input(type="checkbox")#q_status
								.slider
							label.switch_label Active
					ul.list.form
						li
							.btn.btn-default#update-btn(data-vehicleid=`${vehicle._id}`) Update

	script(src="/js/bootstrap-datepicker.min.js")
	script(src="/js/functions.js")
	script(src="/js/form.js")
	script(src="/js/vehicles/update_vehicle.js")
