extends ../layout

block content
	include ../partials/_header

	section#page-pricingvariables
		.container
			h1 Pricing Variables
			ol.breadcrumb
				li.breadcrumb-item.active Pricing Variables
			table.table-striped.table.table-condensed.tbl_list
				tr
					th VARIABLE
					th CURRENT PRICE
					th UPDATE PRICE
					th
				each pvar, index in pvars
					if index < pvars.length-1
						tr
							td #{pvar.name} #{index}
							td $#{pvar.price} / #{pvar.unit}
							td 
								.input-group
									span.input-group-addon $
									input(type="number", min="0")
							td
								.btn.btn-warning.btnUpdate.btn-update Update
								.spin
					else
						tr
							td #{pvar.name}
							td #{pvar.price}%
							td 
								.input-group
									span.input-group-addon %
									input(type="number", min="0")
							td
								.btn.btn-warning.btnUpdate.btn-update Update
								.spin

		script(src="/js/functions.js")
		script(src="/js/pvars.js")